@import "bootstrap/less/bootstrap.less";
@import "fontawesome/less/font-awesome.less";
@import "less-prefixer/prefixer.less";

@color-main:           #BE98B7;
@color-main-hi:        #56164A;
@color-main-lo:        #6A2C5E;
@color-background:     #9F6995;
@color-background-hi:  #844478;

html, body {
  width:       100%;
  font:        sans-serif;
  color:       @color-main;
  background:  @color-background;
}

.start-form {
  .center-block();
  padding-left:   130px;
  padding-right:  130px;
}

a, a:hover, a:visited, a:active {
  color:            @color-main;
  text-decoration:  none;
  transition:       color 200ms;
}

a:hover {
  color: @color-main-hi;
}

#reveal {
  .header {
    width:           100%;
    background:      @color-background-hi;
    font-size:       4rem;
    padding-top:     1rem;
    padding-bottom:  1rem;
    margin-left:     0px;
    margin-right:    0px;
  }
  .participant {
    font-size: 16rem;
  }
  .participants {
    .ball {
      box-sizing:     border-box;
      display:        inline-block;
      width:          10rem;
      height:         10rem;
      margin:         0.8rem;
      .border-radius(6rem);
      border:         solid 5px fadeout(@color-main-lo, 50%);
      color:          fadeout(@color-main, 100%);
      text-align:     center;
      line-height:    9rem;
      font-size:      4rem;
      vertical-align: middle;
      transition:     color 1s, border-color 2s;
      &.revealed {
        border-color:  @color-main-lo;
        color:         @color-main;
      }
    }
  }
}
